body {
  background-image: url('../images/Papel-de-parede.svg');
  background-repeat: no-repeat;      /* evita repetição da imagem */
  background-size: cover;            /* cobre toda a área disponível */
  background-position: center center; /* centraliza a imagem */
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

header, ul{
    background-color: transparent;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header ul a{
    margin-left: 4%; 
    text-decoration: none;
    white-space: nowrap;
    color: black;
    align-self: end;
    text-align: center;
}

header ul{
    padding-top: 15px;
    padding-bottom: 0px;
    list-style: none;
}

header > h1{
    display: flex;
    color: black;
    margin-left: 4%; 
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

header figure img{
    width: 95%;
    height: 85%;
    border-radius: 20px;
    margin-left: -5%;
}

header li{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 34vh;

}

.introducao {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100vh;
    margin: 0 auto;
    border: 1px solid black;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    align-self: end;
    border-radius: 100px;
    text-align: center;
    color: black;
}

footer a img{
    padding: 0px 10px 0px 1px;
    align-self: center;
    margin-left: 1140%;
    
}

footer p{
    margin-left: -80%;
}

/*Aviso: a partir desta linha acima, o arquivo .css pertence ao index.html, como todas as páginas seguintes são sobreescritas
a partir dele é recomendado atribuir uma nova classe à tag ou evitar modificações nas linhas acima dos comentários para evitar que as
alterações afetem todos os arquivos, tente criar outras div ou usar outros meios de atribuição.*/

.Turismo{
    background-color: white;
    width: 60%;
    border-radius: 10px;
    height: auto;
    align-self: center;
    padding-top: 3px;
}

.organizacao-natureza > ol > li{
    list-style: none;
}

.Turismo h2{
    font-size: 35px;
}

.imagens-exemplos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens-exemplos img{
    margin-left: -40px;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.organizacao-natureza{
    width: 100%;
    padding: 0;
    margin: 0;
}

.organizacao-natureza p{
    width: 70%;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 1px;
    text-align: center;
}

.organizacao-natureza hr{
    width: 100%;
    border: none;
    height: 3px;
    background-color: black;
    margin: 20px 0px;  
}

.organizacao-natureza > ol{
    padding-left: 0;
}

.organizacao-natureza h2, h3, img{
    padding-left: 40px;
}

/*Aviso acima deste comentário está as configurações para "Natureza.html", e, abaixo dele começa as configurações
do "Camping.html". */