body{
  background-image: url('../images/Papel-de-parede.svg');
  background-repeat: no-repeat;      /* evita repetição da imagem */
  background-size: cover;            /* cobre toda a área disponível */
  background-position: center center; /* centraliza a imagem */
}

.layout{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5% 40px; 
    background-color: transparent;
    border-radius: 100px;
}

header h1{
    margin: 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: 2rem;
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
    background-color: white;
}

header ul a:hover{
    background-color: rgba(243, 0, 0, 0.664); 
}

header figure{
    margin: 0;
}

header figure img{
    max-height: 70px; 
    height: auto;
    width: auto;
    border-radius: 10px;
}


.introducao{
    display: flex;
    background-color: white;
    color: black;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100vh;
    margin: 0 auto;
    border: 1px solid black;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    align-self: end;
    border-radius: 100px;
    text-align: center;
    color: black;
}

footer a img{
    padding: 0px 10px 0px 1px;
    align-self: center;
    margin-left: 1140%;
    
}

footer p{
    margin-left: -80%;
}

/*Aviso: a partir desta linha acima, o arquivo .css pertence ao index.html, como todas as páginas seguintes são sobreescritas
a partir dele é recomendado atribuir uma nova classe à tag ou evitar modificações nas linhas acima dos comentários para evitar que as
alterações afetem todos os arquivos, tente criar outras div ou usar outros meios de atribuição.*/

.Turismo{
    background-color: white;
    width: 60%;
    border-radius: 10px;
    height: auto;
    align-self: center;
    padding-top: 3px;
}

.organizacao-natureza > ol > li{
    list-style: none;
}

.Turismo h2{
    font-size: 35px;
}

.imagens-exemplos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens-exemplos img{
    margin-left: -40px;
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.organizacao-natureza{
    width: 100%;
    padding: 0;
    margin: 0;
}

.organizacao-natureza p{
    width: 70%;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 1px;
    text-align: center;
}

.organizacao-natureza hr{
    width: 100%;
    border: none;
    height: 3px;
    background-color: black;
    margin: 20px 0px;  
}

.organizacao-natureza > ol{
    padding-left: 0;
}

.organizacao-natureza h2, h3, img{
    padding-left: 40px;
}

/*Aviso acima deste comentário está as configurações para "Natureza.html", e, abaixo dele começa as configurações
do "Unidade-preservacao.html". */

.unidade-preservacao{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
    align-self: center;
}

.unidade-preservacao p{
    text-align: justify;
    padding: 1px 6%;
}

.unidade-preservacao h1{
    padding: 0.1% 4%;
}

.unidade-preservacao video{
    
}

.Noticias{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
    align-self: flex-end;
    height: 24vh;
    margin-right: 3%;
}

.Noticias p{
    text-align: justify;
    padding: 1px 6%;
}

.Noticias h2{
    padding: 0.1% 4%;
}

.Noticias form{
    padding: 1px 6%;
    display: flex;
    gap: 20px;
}

.Noticias form > input{
    border-color:aqua;
    border-radius: 10px;
    height: auto;
    width: 30%;
    padding-left: 12px;
}

.Noticias form > button{
    border-radius: 10px;
    height: auto;
    width: 15%;
    border-color:aqua;
}
